body{
    background-color: #E0BCF5;
}
.p1 {
    background-color: #915FAD;
    color: #f2e9f8;
    border: 20px;
    
    
}
.img1{ margin-left: 200px;
}

.img2{
    margin-top: -375px;
    margin-left: 500px;
}


