body{
    background-color: #E0BCF5;
     
}
.p1 {
    background-color: #915FAD;
    color: #f2e9f8;
    border: 20px;
    border-radius: 10px;
    
    
}
.img_phokin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
img{
    border: 10px;
    border-radius: 12px;
}


